.background-wrap {
  background-image: url('../../../assets/img/curved-images/curved14.jpg');
  /*img-fluid shadow border-radius-xl*/
  max-width: 100%;
  height: auto;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12),
    0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07) !important;
  border-radius: 1rem;
  /* 이미지 클래스 추가*/
  background-size: 400px 200px;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  position:relative;
  flex-direction: column;
}

.content span {
  color: white;
}

.content span:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
}

.content span:nth-child(2) {
  font-size: 20px;
}

.card-new-parrent {
  position: relative;
}
.card-new {
  position: absolute;
  top: 0px;
  right: 0px;
}

.card-last-parrent {
  position: relative;
}
.card-last {
  position: absolute;
  bottom:80px;
  right: 65px;
}

.card-info {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}
.card-info a{
  float: right;
  z-index: 3;
}
.card-info i{
  color : white;
  font-size: 2rem;
  z-index: 3;
}


.card-join {
  position: absolute;
  cursor: pointer;
  float: right;
  top: 23px;
  right: -40px;
}

.card-pt-3{
  padding-top: 30px;
}

.icon-up{
  position: absolute;
  cursor: pointer;
  float: right;
  top: 23px;
  right: -14px;
}