.background-wrap {
  background-image: url('../../../assets/img/curved-images/curved14.jpg');
  /*img-fluid shadow border-radius-xl*/
  max-width: 100%;
  height: auto;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12),
    0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07) !important;
  border-radius: 1rem;
  /* 이미지 클래스 추가*/
  background-size: 400px 400px;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.content span {
  color: white;
}

.content span:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
}

.content span:nth-child(2) {
  font-size: 20px;
}

.card-new-parrent {
  position: relative;
}
.card-new {
  position: absolute;
  top: 0px;
  right: 0px;
}


.card-last-parrent {
  position: relative;
}
.card-last {
  position: absolute;
  top: 50px;
  right: -100px;
}